@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="lastFMCharts">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Last FM Charts</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/allmighty-autocomplete/1.0.140706/autocomplete.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="MainCtrl as ctrl" class="container">

    <form name="artistsForm" ng-submit="ctrl.submit()">
        <div ng-repeat="artist in ctrl.artists track by $index" class="form-group">
            <div class="row">
                <span class="label label-default">Artist {{$index + 1}}: </span>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <autocomplete ng-required="true" attr-input-class="form-control" ng-model="ctrl.artists[$index]" data="ctrl.artistsSuggestions" on-type="ctrl.updateArtistsSuggestions"></autocomplete>
                </div>
                <div ng-show="$index > 1" class="col-xs-2">
                    <div ng-click="ctrl.removeArtist($index)" class="btn btn-warning">Remove</div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" ng-click="ctrl.addArtist()" class="btn btn-default">Add Artist</button>
            <button type="submit" ng-disabled="artistsForm.$invalid" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <br />

    <div ng-show="ctrl.artistsInfo.length !== 0">
        <div>Listeners:</div>
        <div>
            <canvas id="listeners"></canvas>
        </div>
        <div>Plays:</div>
        <div>
            <canvas id="plays"></canvas>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="~/Scripts/autocomplete.js"></script>
    <script src="~/Scripts/chart.js"></script>

    <script type="text/javascript">
        angular.module('lastFMCharts', ['autocomplete'])
            .controller('MainCtrl', [
                '$http', function ($http) {
                    var self = this;
                    self.artists = [null, null];
                    self.artistsInfo = [];
                    self.artistsSuggestions = [];

                    self.updateArtistsSuggestions = function (userInput) {
                        if (userInput) {
                            $http.post('@Url.Action("GetArtistsSuggestions")', { userInput: userInput })
                            .then(function (response) {
                                self.artistsSuggestions = response.data;
                            }, function (error) {
                                console.log(error);
                            });
                        }
                    };

                    self.submit = function () {
                        $http.post('@Url.Action("Compare")', { artists: self.artists })
                           .then(function (response) {
                               self.artistsInfo = response.data;
                               fillCharts(self.artistsInfo);
                           }, function (error) {
                               console.log(error);
                           });
                    };

                    self.addArtist = function () {
                        self.artists.push(null);
                    };

                    self.removeArtist = function (index) {
                        self.artists.splice(index, 1);
                    };
                }
            ])
    </script>
</body>
</html>