@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="lastFMCharts">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Last FM Charts</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/allmighty-autocomplete/1.0.140706/autocomplete.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="MainCtrl as ctrl">

    <form ng-submit="ctrl.submit()">

        <div class="form-group">
            <label>Artist 1: </label>
            <autocomplete attr-input-class="form-control" ng-model="ctrl.artists[0]" data="ctrl.artistsSuggestions" on-type="ctrl.updateArtistsSuggestions"></autocomplete>
        </div>
        <div class="form-group">
            <label>Artist 2: </label>
            <autocomplete attr-input-class="form-control" ng-model="ctrl.artists[1]" data="ctrl.artistsSuggestions" on-type="ctrl.updateArtistsSuggestions"></autocomplete>
        </div>
        <div class="form-group">
            <label>Artist 3: </label>
            <autocomplete attr-input-class="form-control" ng-model="ctrl.artists[2]" data="ctrl.artistsSuggestions" on-type="ctrl.updateArtistsSuggestions"></autocomplete>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br />

    <div ng-show="ctrl.artistsInfo.length !== 0">
        <div>Listeners:</div>
        <div>
            <canvas id="listeners"></canvas>
        </div>

        <div>Plays:</div>
        <div>
            <canvas id="plays"></canvas>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="~/Scripts/autocomplete.js"></script>

    <script type="text/javascript">
        angular.module('lastFMCharts', ['autocomplete'])
            .controller('MainCtrl', [
                '$http', function ($http) {
                    var self = this;
                    self.artists = [];
                    self.artistsInfo = [];

                    Chart.defaults.global.responsive = true;
                    self.listenersChart = new Chart(document.getElementById('listeners').getContext('2d'));
                    self.playsChart = new Chart(document.getElementById('plays').getContext('2d'));

                    self.listenersChartFilled = null;
                    self.playsChartFilled = null;

                    self.fillCharts = function () {
                        var labels = [
                            self.artistsInfo[0].Name,
                            self.artistsInfo[1].Name,
                            self.artistsInfo[2].Name
                        ];

                        var listenersData = {
                            labels: labels,
                            datasets: [
                                {
                                    fillColor: "rgba(220,220,220,0.5)",
                                    strokeColor: "rgba(220,220,220,0.8)",
                                    highlightFill: "rgba(220,220,220,0.75)",
                                    highlightStroke: "rgba(220,220,220,1)",
                                    data: [
                                        self.artistsInfo[0].Listeners,
                                        self.artistsInfo[1].Listeners,
                                        self.artistsInfo[2].Listeners
                                    ]
                                }
                            ]
                        };

                        var playsData = {
                            labels: labels,
                            datasets: [
                                {
                                    fillColor: "rgba(151,187,205,0.5)",
                                    strokeColor: "rgba(151,187,205,0.8)",
                                    highlightFill: "rgba(151,187,205,0.75)",
                                    highlightStroke: "rgba(151,187,205,1)",
                                    data: [
                                        self.artistsInfo[0].Plays,
                                        self.artistsInfo[1].Plays,
                                        self.artistsInfo[2].Plays
                                    ]
                                }
                            ]
                        };

                        self.listenersChartFilled = self.listenersChart.Bar(listenersData);
                        self.playsChartFilled = self.playsChart.Bar(playsData);
                        window.dispatchEvent(new Event('resize'));
                    };

                    self.submit = function () {
                        $http.post('@Url.Action("Compare")', { artists: self.artists })
                            .then(function (response) {
                                if (self.listenersChartFilled != null && self.playsChartFilled != null) {
                                    self.listenersChartFilled.destroy();
                                    self.playsChartFilled.destroy();
                                }

                                console.log(response.data);
                                self.artistsInfo = response.data;
                                self.fillCharts();
                            }, function (error) {
                                console.log(error);
                            });
                    };

                    self.artistsSuggestions = [];

                    self.updateArtistsSuggestions = function (userInput) {
                        $http.post('@Url.Action("GetArtistsSuggestions")', { userInput: userInput })
                            .then(function (response) {
                                console.log(response.data);
                                self.artistsSuggestions = response.data;
                            }, function (error) {
                                console.log(error);
                            });
                    };
                }
            ])
    </script>

</body>
</html>