<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="lastfmApi" value="http://ws.audioscrobbler.com/2.0/" />
    <add key="lastfmKey" value="8bbcae3ac93a6ae30be5d00b796c55b6" />
    <add key="vkAudioSearch" value="https://api.vk.com/method/audio.search"/>
    <add key="topTracksLimit" value="10"/>
  </appSettings>
</configuration>